.about_container h1 {
  margin-bottom: 20px;
  color: #03c8c8;
}

.about_text h2 {
  color: #03c8c8;
  margin-bottom: 10px;
}

.about_card {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  display: flex;
}

.about_image {
  height: 450px;
}

.about_text {
  background-color: #3c3c3c;
  color: white;
  width: 65%;
  padding: 30px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.project_container {
  background-color: #3c3c3c;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.project_container p {
  color: #fff;
}

