h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.about_card {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  display: flex;
}

.about_image {
  height: 450px;
}

.about_text {
  background-color: rgb(60, 60, 60);
  color: white;
  width: 65%;
  padding: 30px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.project_container {
  background-color: thistle;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.future_container {
  background-color: darkgray;
  width: 100%;
  height: 200px;
  
}
