.about_container h1 {
  margin-bottom: 20px;
  color: #03c8c8;
}

.about_text h2 {
  color: #03c8c8;
  margin-bottom: 10px;
}

.about_card {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
}

.about_image {
  height: 450px;
}

.about_text {
  background-color: #3c3c3c;
  color: white;
  width: 65%;
  padding: 30px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.project_container {
  background-color: #3c3c3c;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.project_container p {
  color: #fff;
}

/* mobile */
@media (max-width: 600px) {
  .about_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .about_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about_text {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* tablet */
@media (max-width: 1023px) {
  .about_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
