.nav-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #3c3c3c;
  opacity: 92%;
  width: auto;
}

.nav-link:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  padding-right: 20%;
}

.drop-ul {
  display: list-item;
}

.drop-li {
  width: auto;
  font-size: large;
  display: block;
  margin: 7px;
  padding: 5px;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: white;
}

.dropdown-menu ul li a:hover {
  color: #03c8c8;
}
