/* mobile */
@media (max-width: 600px) {
    .errorpage_container {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
    }
  }

  /* tablet */
  @media (max-width: 1023px) {
    .errorpage_container {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
    }
  }