.main_image {
  width: 400px;
  height: 500px;
  display: block;
  margin: auto;
}

.thumbnails_container {
  width: auto;
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.thumbnail {
  background-color: #bbb8bb;
  width: 150px;
  height: auto;
  cursor: pointer;
}




