/* Search Results Item Page */
.main_image_container {
  margin-bottom: 20px;
}

.main_image {
  display: block;
  margin: auto;
}

.arrow-image {
  width: 36px;
}

.item_info_container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.object_info_container {
  width: auto;
  background-color: #3c3c3c;
}

.object_info {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 10px;
}

li {
  color: #fff;
  font-size: 20px;
  margin: 20px;
}

.actions_container {
  background-color: #3c3c3c;
  width: 45%;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 80%;
}

.action_click {
  margin: 40px;
  cursor: pointer;
}

.action_click:hover {
  color: #03c8c8;
}

.social_media_icons {
  display: flex;
  justify-content: space-evenly;
}

/* mobile */
@media (max-width: 600px) {
  .collection_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .itempage_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .main_image {
    width: 100%;
  }
}

/* tablet */
@media (max-width: 1023px) {
  .collection_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
