.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(3, 200, 200);
  margin-right: 0.5em;
  margin-bottom: 20px;
  height: 60px;
}
.logo {
  background-color: #ddd;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.nav_items_container {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

.nav_a {
  color: #fff;
  font-size: 16px;
}

.nav_a:hover {
  color: rgb(3, 200, 200);
}

.login_signup_container {
  display: flex;
}

.login {
  color: #fff;
  font-size: 16px;
}

.login:hover {
  color: rgb(3, 200, 200);
}

.signup {
  color: #fff;
  font-size: 16px;
}

.signup:hover {
  color: rgb(3, 200, 200);
}
.test {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.test .hello {
  justify-content: space-between;
  margin-right: 10px;
}
