.pagination {
  display: flex;
  justify-content: center;
}

.pagi-button {
  background-color: #03c8c8;
  border-radius: 8px;
  border-style: none;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  transition: color 100ms;
}

.pagi-button:hover {
  background-color: #3affff;
  color: black;
}
