.pagination {
  display: flex;
  justify-content: center;
}

.pagi-button {
  margin: 0 8px;
  color: rgb(175, 175, 179);
  background-color: #3c3c3c;
  padding: 5px 10px;
  font-weight: 550;
  border: 1px solid rgb(3, 200, 200);
  border-radius: 5px;
}

.pagi-button:hover {
  color: rgb(3, 200, 200);
}
