.pricing_text {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.25px;
  margin-bottom: 20px;
}
.pricing_card_container {
  display: flex;
  justify-content: space-between;
}

.pricing_card {
  display: flex;
  flex-direction: column;
}

.pricing_card_text {
  background-color: rgb(60, 60, 60);
  color: #fff;
  width: 250px;
  height: 200px;
  line-height: 26px;
  letter-spacing: 1.25px;
  padding: 20px;
}

.pricing_card h3 {
  color: #fff;
}

.pricing_card p {
  color: #fff;
}
