.searchbar_container {
  height: 60px;
  margin-bottom: 20px;
  display: flex;
}

.search_results_container {
  margin-bottom: 20px;
}

.search_results_container h1 {
  color: rgb(3, 200, 200);
}

.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item_card {
  width: 250px;
  height: 450px;
  margin-bottom: 20px;
}

.result_img {
  background-color: #ddd;
  width: 250px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.text_card {
  background-color: rgb(60, 60, 60);
  color: #fff;
  line-height: 26px;
  letter-spacing: 1.25px;
  padding: 10px;
}

.result_img:hover {
  opacity: 0.5;
  transition: 0.5s ease-out;
}

.color:hover {
  cursor: pointer;
}

.white {
  color: #fff;
}

.turquoise  {
  color: rgb(3, 200, 200);
}