:root {
  --primary: #242424;
  --error: #e7195a;
}

label.label-text {
  color: #03c8c8;
}

.hello {
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #242424;
  color: white;
}

.arrow-image {
  background-color: #242424;
  width: 5%;
  height: 10%;
}

.posts {
  text-align: center;
  max-width: 600px;
  margin: 5em auto;
}

.title a {
  text-decoration: none;
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container nav {
  display: flex;
  font-size: 1.5em;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

form button {
  background-color: #03c8c8;
  border: 0;
  color: #3c3c3c;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #3affff;
  color: black;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

form.signup,
form.login {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: #3c3c3c;
  border-radius: 4px;
}
