body {
  max-width: 960px;
  margin: auto;
  background-color: #242424;
}

/* Colors 
    dk grey: 242424 page background
    medium grey: 3c3c3c card background
    turquoise: 03c8c8 accent colour
    lt turquoise: 3affff button hover colour
    medium grey 2: ffffffa8 grey footer text */

