/* Custom properties, method for declaring re-usable values and can be updated */
:root {
  /* font-family */
  --ff-primary: "Montserrat", sans-serif;

  /* font-weight */
  --fw-regular: 400;
  --fw-semibold: 600;
}

/* Font-face rules outside of :root */
@font-face {
  font-family: var(--ff-primary);
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: var(--fw-regular);
  font-style: var(--fw-regular);
}

@font-face {
  font-family: var(--ff-primary);
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: var(--fw-semibold);
  font-style: var(--fw-semibold);
}

body {
  max-width: 960px;
  margin: auto;
  background-color: #242424;
  font-family: var(--ff-primary);
}

/* Colors 
    dk grey: 242424 page background
    medium grey: 3c3c3c card background
    turquoise: 03c8c8 accent colour
    lt turquoise: 3affff button hover colour
    medium grey 2: ffffffa8 grey footer text */
